@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  font-family: 'Fredoka One', sans-serif;
  background: rgb(244,114,182);
  background: linear-gradient(0deg, rgba(244,114,182,1) 0%, rgba(249,168,212,1) 65%, rgba(251,207,232,1) 100%);

}
.navbar {
  transition: opacity 0.5s ease-in-out;
}